<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>editing chat with id : <%= chat1._id %></h3>
    <p>message sent from <%= chat1.from %> to <%= chat1.to %></p>
    <form method="post" action="/chat/<%= chat1._id %>/update?_method=PUT">
        <textarea name="msg" id="" rows="10" cols="50"><%= chat1.msg %></textarea>
        <button> submit </button>
    </form>
</body>
</html>